body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Light blue background */
}

.login-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto; /* Center the form on the page */
  width: 80%;
  max-width: 1500px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.instructions {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.login-form {
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

button {
  width: 10%;
  padding: 12px;
  background-color: #172ce5;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5c79e0;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.link-container {
  text-align: right;
}
